::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg);
}

input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
  opacity: 1;
}

.identicon {
  border-radius: 50%;
}
